{% extends "base.html" %}

{% block title %}Blog Home{% endblock title %}

{% block content %}
<div class="container py-5">
    <h2 class="mb-4">Latest posts</h2>
    <div class="row">
        <div class="col-md-8 col-lg-10">
            <div class="row">
                {% for post in latest_posts %}
                <div class="col-12 col-lg-6 mb-3">{% include "blog/includes/post.html" %}</div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 col-lg-2">
            {% include "blog/includes/categories.html" %}
        </div>
    </div>
</div>
{% endblock content %}